<footer ng-if="$ctrl.route.vars.footer" class="container footer">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li ng-repeat="target in $ctrl.targets">
          <a ng-if="!target.icon" href="{{target.href}}">
            {{target.label}}
          </a>
          <a ng-if="target.icon" href="{{target.href}}">
            <i class="fa {{target.icon}}"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li>
          {{$ctrl.copyright}}
        </li>
      </ul>
    </div>
  </div>
</footer>
